<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@400&family=Rubik+Mono+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css')  }}"
    />
    <title>Vote for memes</title>
  </head>
  <body>
    <header>
      <div class="logo-wrapper">
        <a href="/" class="logo-link">
          <img
            src="{{ url_for('static', filename='logo.svg') }}"
            alt="logo"
            class="logo"
          />
        </a>
      </div>
      <a href="/meme/upload" class="upload-meme-btn">Upload meme</a>
    </header>
    <div class="site-wrapper">
      <div class="meme-wrapper">
        <div class="meme-section">
          <div class="section-title">Meme by {{meme.author}}</div>
          <div class="meme">
            <img
              src="{{ url_for('static', filename='pics/' + meme.image_filename) }}"
              alt=""
              srcset=""
              class="meme-img"
            />
            <div class="meme-votes">
              <a href="/meme/{{meme.id}}/upvote" class="meme-votes-btn">
                <img
                  src="{{ url_for('static', filename='arrow-up.svg') }}"
                  alt="Vote up"
                />
              </a>
              <div class="votes">{{meme.rating}}</div>
              <a href="/meme/{{meme.id}}/downvote" class="meme-votes-btn">
                <img
                  src="{{ url_for('static', filename='arrow-down.svg') }}"
                  alt="Vote down"
                />
              </a>
            </div>
          </div>
          <div class="btns">
            <a href="/?meme_id={{prev_meme_id}}" class="meme-nav-btn">Prev</a>
            <a href="/?meme_id={{next_meme_id}}" class="meme-nav-btn">Next</a>
          </div>
        </div>
      </div>
      <div class="best-memes-wrapper">
        <div class="section-title">
          Best<br />
          Memes
        </div>
        <div class="best-memes">
          {% for best_meme in best_memes %}
          <a href="/?meme_id=best_meme.id" class="best-meme">
            <div class="best-meme-place">{{loop.index}}</div>
            <img
              src="{{url_for('static', filename='pics/' + best_meme.image_filename)}}"
              class="best-meme-img"
            />
            <div class="best-meme-votes">
              <div class="votes">{{best_meme.rating}}</div>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>

    <script>
      window.onload = () => {
        const votesSections = document.querySelectorAll(".votes");
        for (votesSection of votesSections) {
          try {
            const votesNumber = parseInt(votesSection.innerHTML);
            if (votesNumber >= 0) {
              votesSection.classList.add("votes-positive");
              votesSection.innerHTML = `+${votesNumber}`;
            } else votesSection.classList.add("votes-negative");
          } catch {
            console.log("Could not parse votes number for:", votesSection);
          }
        }
      };
    </script>
  </body>
</html>
